<!doctype html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116858744-1"></script>
	<script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-116858744-1');
	</script>

	<title>Nupsa.me</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:40px; }
		body{
			background-color: #DDCED5; /* Цвет фона веб-страницы */
		}
	</style>


</head>
<body>

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>

			</button>
			<a class="navbar-brand" href="/">Nupsa.me</a>

		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->


		<ul class="nav navbar-nav navbar-left">
			<li><a href="/method">Method</a></li>
			<li><a href="/manifesto">Our mission</a></li>


		</ul>
	</div><!-- /.navbar-collapse -->

</nav>
<div class="container">

	<div class="jumbotron text-center">
		<h1> Welcome to Nupsa.me</h1>
		<br>
		<a><img src="http://api.nupsa.me/pics/Uman.jpg" alt="" width="144" height="186" /></a>

		<h2>Service to help people fight against depression, anxiety and in general raise their quality of life</h2>
<br>
		<br>

		<p>Login or Register with:</p>

	<!--	<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a> -->
	<!--	<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a> -->
		<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
		<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
		<p>&nbsp;</p>
		<p>Download our App</p>
		<a href="https://itunes.apple.com/us/app/nupsa-me/id1371264121?l=ru&ls=1&mt=8" ><img src="http://api.nupsa.me/pics/ios.png" alt="" width="155" height="46" /></a>
		<a><img src="http://api.nupsa.me/pics/google.png" alt="" width="155" height="46" /></a>
	</div>


	
</div>


<div class="container">

	<div class="jumbotron text-left">


		<p><strong>What is Nupsa.me?</strong></p>
		<p>Nupsa is a tool to help you if you are suffer from depression and/or anxiety disorder. </p>
<p></p>
		<p><strong>How does the technique work?</strong></p>
		<p>In short we will use methods of Cognitive behavioral therapy to reduce your stress and deprission level mostly by teaching your brain to stop perceiving any event,  an unpleasant experience or trouble in your life as a catastrophe.  </p>
		<p>Please have a look at the full method description <a href="/method">here. </a> </p>



	</div>

	<div class="text-center">

		<p><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSc5OwnsYYMCrbZF2p8rb7Wqj4DQCFG60Q4migoG9cTPMpNNcQ/viewform">Leave a feedback </a> <a href="/privacy"> Privacy Policy</a></p>

		<p>&copy; 2017 - 2018 F&P Art Company OÜ</p>
	</div>

</div>
</body>
</html>
