<!doctype html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116858744-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-116858744-1');
    </script>

    <title>Nupsa.me</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body 		{ padding-top:40px; }
        body{
            background-color: #DDCED5; /* Цвет фона веб-страницы */
        }
    </style>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>

            </button>
            <a class="navbar-brand" href="/">Nupsa.me</a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->


        <ul class="nav navbar-nav navbar-left">
            <li><a href="/method">Method</a></li>
            <li><a href="/manifesto">Our mission</a></li>


        </ul>
    </div><!-- /.navbar-collapse -->

</nav>

<div class="container">

    <div class="text-left">


        <h2><strong>Our mission</strong></h2>
        <p><span style="font-weight: 400;">We are the Nupsa.me project (legally based in Estonia as F &amp; P Art Company O&Uuml;) began our work in 2017.</span></p>
        <p><strong>Our goal</strong><span style="font-weight: 400;"> is to make a tool that would help you if you suffer from depression or anxiety disorder to make your life a little better.</span></p>
        <p><span style="font-weight: 400;"><strong>How our tool work?</strong> Through the training of your brain to perceive ordinary life troubles not as a "catastrophe", but how do they exist - the usual life troubles in which in 99.999% of cases there is a simple solution that you need to do (if at all) to overcome them.</span></p>
        <p><span style="font-weight: 400;">The basis of our service is the work of psychologists of Cognitive Behavioral therapy and Positive Psychology. Especially, we would like to thank Mr. Martin Seligman for his outstanding work in the field of psychology.</span></p>
        <p><span style="font-weight: 400;">We in many processed these approaches, collected (or continue to collect) them into one of our services to help you.</span></p>
        <p><span style="font-weight: 400;">We have deep respect for other areas of psychology, whose representatives work tirelessly to help people using other approaches (for example, Existential Psychology) simply in our humble opinion before trying to find answers to global questions of being, it is necessary to understand the basic things in life his head. To teach your brain not to make a catastrophe about and without an excuse, and afterwards, when the level of anxiety drops significantly (we very much hope so) to use the liberated forces to find answers to the global questions of each person.</span></p>
        <p><span style="font-weight: 400;">Our project is very young and we definitely want to develop our service, in our Trello only now there is a list of about 20 more ideas that can be done. The most important task now for us, in the first years of work, is to obtain reliable data on the effectiveness of the methodology on a large sample of people and we thank you in advance for participating in our experiment.</span></p>
        <p><span style="font-weight: 400;">All the funds that we collect go to support and further develop our service, thank you for subscribing to our paid version.</span></p>
        <p><span style="font-weight: 400;">We will take $ 20 a year from the user as a monthly fee, which is equivalent to approximately 6 minutes of consultation with a good psychologist in developed countries and we are reallly hope that you will not regret any one cent of these 20 dollars :). In the first three months of the project, we generally will not take it, as we understand how many problems of a technical nature will arise.</span></p>
        <p>&nbsp;</p>
        <p><strong>And we will not tire of repeating:</strong></p>
        <p>&nbsp;</p>
        <ol>
            <li><span style="font-weight: 400;"> If you have a strong or moderate depression, our tool probably will not replace you a good doctor, but will complement and help you and him in the work. If your test shows a depression level greater than 15, we strongly recommend that you seek help.</span></li>
        </ol>
        <p>&nbsp;</p>
        <ol start="2">
            <li><span style="font-weight: 400;"> If you feel suicidal thoughts in yourself, or mark them in the process of using Nupsa, please ask for help as soon as possible.</span></li>
        </ol>
        <p>&nbsp;</p>
        <p><span style="font-weight: 400;">Thank you in advance and wish you, if you feel bad, start feel better as soon is possible:)</span></p>
        <p><span style="font-weight: 400;">Sincerely </span></p>
       <span style="font-weight: 400;"><strong>Yours nupsa.me team</strong></span>





    </div>

    <div class="text-center">

        <p>&copy; 2018 F&P Art Company OÜ</p>
    </div>

</div>
</body>
</html>
