<!doctype html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116858744-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-116858744-1');
    </script>

    <title>Nupsa.me</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body 		{ padding-top:40px; }
        body{
            background-color: #DDCED5; /* Цвет фона веб-страницы */
        }
    </style>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>

            </button>
            <a class="navbar-brand" href="/">Nupsa.me</a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->


        <ul class="nav navbar-nav navbar-left">
            <li><a href="/method">Method</a></li>
            <li><a href="/manifesto">Our mission</a></li>


        </ul>
    </div><!-- /.navbar-collapse -->

</nav>

<div class="container">

    <div class="text-left">

        <p><strong><h3>How does the technique work?</h3></strong></p>
        <p>&nbsp;</p>
        <p><span style="font-weight: 400;">At the present time in our opinion and practice the most advanced and effective method of reducing depression level is cognitive behavioral therapy. Its essence is that in order to feel better first of all you have to teach your brain to stop perceiving any event, &nbsp;an unpleasant experience or trouble in your life as a catastrophe. If you feel like a pinch in your heart &mdash; it's not a heart attack, otherwise everyone would have died already. If you have an inch in your body it doesn&rsquo;t mean cancer, it's just a signal that you need probably to take a shower. Your phone rings and it may be a pleasant talk with a friend or an interesting conversation with a colleague, and not the news that your favorite hamster died.</span></p>
        <p>&nbsp;</p>
        <p><span style="font-weight: 400;">This application is about practice, about an effective result to make you feel better. It is not meant to give answers to questions about the meaning of life or to solve an unresolved situation with your parents. These are all very important things, but not the tasks of our service. Nupsa is a tool for your brain to let it go of a constant sense of disaster, and thereby to found the strength to solve more important problems as the examples above.</span></p>
        <p>&nbsp;</p>

        <p><strong><h3>What do you have to do?</h3></strong></p>
        <p>&nbsp;</p>
        <p><span style="font-weight: 400;">To get results first of all you have to agree on a goal and the goal should be measurable. For this purpose in the application there is a questionnaire to evaluate depressive levels. PHQ - 9 is one of the most effective and simple tools for measuring the level of depression. Take it and you&rsquo;ll get:
        <p><strong>a.</strong> an understanding how bad you feel now </p>
        <p><strong>b. </strong> the point of reference for further work </p>
        <p> <strong>c. </strong> the monitoring tool for your future condition.</p>
        <p>&nbsp;</p>
        <p><span style="font-weight: 400;">After that start doing <strong>Nupsa</strong>. Every </span><span style="font-weight: 400;">event or </span><span style="font-weight: 400;">trouble that you interpret as a negative you should break down in your mobile App into 5 components:</span></p>
        <p>&nbsp;</p>
        <p><strong>Adversity</strong><span style="font-weight: 400;">: that situation or event which triggers your pessimism. Could be almost anything &mdash; a leaky faucet, a frown from a friend, a baby that will not stop crying, a rejection letter, no returned call, few job ads in the newspaper, etc</span></p>
        <p>&nbsp;</p>
        <p><strong>Belief: </strong><span style="font-weight: 400;">how you interpret the adversity. Be sure to separate thoughts from your feelings. (Feelings will go under Consequences below.) "I just blew my diet" and "I'm incompetent" are beliefs.</span></p>
        <p>&nbsp;</p>
        <p><strong>Consequences</strong><span style="font-weight: 400;">: what you did / how you acted / behaved and how you felt. Record those things.</span></p>
        <p>&nbsp;</p>
        <p><span style="font-weight: 400;">And the two most important parts:</span></p>
        <p>&nbsp;</p>
        <p><strong>Disputation:</strong><span style="font-weight: 400;"> = effort to argue with yourself and dispute your beliefs, i.e. redeploying your attention. That is, to interrupt the habitual thought pattern about the adversity and your belief about.</span></p>
        <p>&nbsp;</p>
        <p><strong>Energization:</strong><span style="font-weight: 400;"> outcome or effect of redirecting one's thoughts and attention. The most important thing that you really do to remove the negative effect from the situation.</span></p>
        <p>&nbsp;</p>
        <p><span style="font-weight: 400;">Repeat this practise 100 &mdash; 200 times (optimally 3-5 times a day) and it takes from 20 days to 2 months. Then take the test again and look how your level of depression dropped. This technique has helped a lot of people and we very much hope that it will help you.</span></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><strong><h3>2 important things:</h3></strong></p>
        <p>&nbsp;</p>
        <ol>
            <li style="font-weight: 400;"><span style="font-weight: 400;">If you have a strong or moderate depression level our tool won&rsquo;t replace a doctor&rsquo;s visit, but can be a good additional source of support and help you and in the work. If your depression level &nbsp;is above than 15 points, we strongly recommend that you seek help from a medical practitioner.</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">If you feel suicidal or note suicidal thoughts while using Nupsa please ask for help as soon as possible.</span></li>
        </ol>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><strong><h3>Basic principles:</h3></strong></p>
        <p>&nbsp;</p>
        <ol>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Clarity helps a person.</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">No one is perfect and sometimes we do not control what happens to us but we can control our attitude toward what happens to us to make our lives better.</span></li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Every service should be as simple as possible, otherwise it will not work.</span></li>
        </ol>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><span style="font-weight: 400;">With respect and gratitude for using our service,</span></p>
        <p><span style="font-weight: 400;"><strong> Your Nupsa team.</strong></span></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>


    </div>

    <div class="text-center">

        <p>&copy; 2018 F&P Art Company OÜ</p>
    </div>

</div>
</body>
</html>
