<!doctype html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116858744-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-116858744-1');
    </script>

    <title>Nupsa.me</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body 		{ padding-top:80px; }
        body{
            background-color: #DDCED5; /* Цвет фона веб-страницы */
        }
    </style>
</head>
<body>


<div class="container">

    <div class="text-left">


        <h2><span style="font-weight: 400;">Nupsa.me</span> <span style="font-weight: 400;">Privacy Policy</span></h2>
        <p><em><span style="font-weight: 400;">Effective: April 22nd, 2018</span></em></p>
        <p><em><span style="font-weight: 400;">At Nupsa.me, our goal is to make a tool that would help you if you suffer from depression or anxiety disorder to make your life a little better. That mission covers our offline and in-store activities, and extends to our online community as well through our websites, applications, and connected products and services (which we collectively call the </span></em><strong><em>&ldquo;Services&rdquo;</em></strong><em><span style="font-weight: 400;">) and that&rsquo;s why we also refer to our online community members as </span></em><strong><em>&ldquo;Clients.&rdquo;</em></strong><em><span style="font-weight: 400;"> Our privacy policy describes what Personal Data we collect online, offline and in stores and how we use and share that information.</span></em></p>
        <p><em><span style="font-weight: 400;">If you have any questions about how we handle or protect your Personal Data, please contact us through our Feedback link</span></em></p>
        <p><strong><em>BY USING THE SERVICES YOU CONSENT TO THE COLLECTION, USE AND TRANSFER OF YOUR PERSONAL DATA FOR PROCESSING IN EUROPEAN UNION TERRITORY</em></strong></p>
        <p><em><span style="font-weight: 400;">Please be aware that Nupsa.me, and all associated Services and systems, including registration, is housed on servers in the European Union. If you are located outside of the European Union, please be aware that information we collect (including cookies) will be processed and stored in the European Union, a jurisdiction in which the data protection and privacy laws may not offer the same level of protection as those in the country where you reside or are a citizen. By using our Services and providing information to us, you consent to the transfer to and processing of the information in the European Union.</span></em></p>
        <p><em><span style="font-weight: 400;">Please read this Privacy Policy carefully, as your access to and use of the Services signifies that you have read and agree to all terms of this Privacy Policy. If you do not agree with any part of this Privacy Policy or our Terms and Conditions, please do not access or continue to use any of the Services or otherwise submit your Personal Data.</span></em></p>
        <p>&nbsp;</p>
        <h2><em><span style="font-weight: 400;">Who We Are</span></em></h2>
        <p><em><span style="font-weight: 400;">We are F &amp; P Art Company O&Uuml; (&ldquo;Nupsa.me&rdquo;). We provide internet and mobile application based services including the apps linked to below:</span></em></p>
        <p><em><span style="font-weight: 400;">http://www.nupsa.me</span></em></p>
        <h2><em><span style="font-weight: 400;">Information We Collect</span></em></h2>
        <p>&nbsp;</p>
        <ul>
            <li style="font-weight: 400;"><em><span style="font-weight: 400;">"Personal Data" is information that can be used, directly or indirectly, alone or together with other information, to identify you as an individual Client. This may include your precise Location Data and your Performance Data.</span></em></li>
        </ul>
        <ul>
            <li style="font-weight: 400;"><span style="font-weight: 400;">"Other Information" is information that is anonymous, aggregate, de-identified, or otherwise does not reveal your identity. Some examples include age, gender, browser and operating system, time spent using our Services, and webpages visited. We collect and use this information to understand how you and our community as a whole use our Services and constantly tune, enhance, innovate and build products and services to reflect the needs of Clients.</span></li>
        </ul>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <h2><em><span style="font-weight: 400;">How We Use Personal Data</span></em></h2>
        <p><em><span style="font-weight: 400;">Nupsa.me uses the data we collect to operate our business, advertise and provide our products and Services, improve existing products and services, develop new products and services, and to improve and personalize your experiences interacting with us. We also use your Personal Data to communicate with you and to deliver advertising that may be more relevant to you.</span></em></p>
        <h2>&nbsp;</h2>
        <h2><em><span style="font-weight: 400;">How We Disclose Personal Data</span></em></h2>
        <p><em><span style="font-weight: 400;">Nupsa.me will only disclose your Personal Data with your knowledge and as stated in this Privacy Policy or as indicated at the time of collection. This includes disclosures that will enable us to fulfill our obligations to you, and allows us to manage our business operations. We will only share your Personal Data with third parties in certain limited instances, namely with your consent, or as is necessary to complete a transaction or provide a product, service, or feature that you have requested.</span></em></p>
        <h2>&nbsp;</h2>
        <h2><em><span style="font-weight: 400;">Information Security</span></em></h2>
        <p><em><span style="font-weight: 400;">Nupsa.me is committed to protecting the security of your Personal Data. We use technical and organizational measures designed to protect your information against unauthorized access, theft, and loss. We also recommend that you take additional measures to protect yourself and your information, such as installing anti-virus software, closing browsers after use, keeping confidential your log-in credentials and passwords, and making sure that you regularly update software and apps you have downloaded to ensure you have enabled the latest security features on your devices.</span></em></p>





    </div>

    <div class="text-center">

        <p>&copy; 2018 F&P Art Company OÜ</p>
    </div>

</div>
</body>
</html>
