<!doctype html>
<html>
<head>
    <title>Nupsa.me</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <style>
        body 		{ padding-top:10px; }
        body 		{ padding-left:100px; }
        body 		{ padding-right:100px; }
    </style>
</head>
<body>
<!------Navigation ---- from here http://bit.ly/2xkeXTr -->

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Nupsa.me</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->


            <ul class="nav navbar-nav navbar-right">
                <li><a href="/profile">Profile</a></li>

            </ul>
        </div><!-- /.navbar-collapse -->

</nav>




<br>


<div class = "row">
    <div class = "column">
        <h2>PHQ - 9 Tests history</h2>
<div class="column">
<canvas id="myChart"></canvas>
</div>
</div>
    <div class = "column">
        <h2>Your Nupsas log</h2>

        <table>
            <tr>
                <th>Nupsa at </th>
                <%= user.googletoken %><br>
            </tr>


        </table>



    </div>
</div>

<script  src="../static/bundle.js"></script>



</body>
</html>
